---
layout: default
---

{% include hero.html %}

<div class="container content-section no-content-section">
  <div class="row">
    <div class="col col-12">
        <div class="row">
          <div class="col col-12">
            <h2 class="content-section__description seo-homepage-heading ">Why Use AI Calculator?</h2>
            <ul class="content-section__list seo-homepage-description">
              <li>Accurate & Reliable: Powered by intelligent algorithms for dependable estimates.</li>
              <li>Free Tools: Use our calculators anytime, anywhere—no cost, no sign-up.</li>
              <li>Global Options: Tailor results to your country and currency for personalized accuracy.</li>
              <li>Secure & Private: We don’t store your personal data—everything runs securely in your browser.</li>
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<br>
<div class="container content-section no-content-section">
  <div class="row">
    <div class="col col-12">
      <div class="contaniner__inner animate">
        <div class="row">
          <h2 class="content-section__description seo-homepage-heading ">Our Calculators</h2>

            {% for page in site.pages %}
              {% if page.istool %}
                {% include tool-content.html %}
              {% endif %}
            {% endfor %}
          <!-- {% if site.posts.size > 0 %}
          {% for post in paginator.posts %}
            {% include article-content.html %}
          {% endfor %}
        {% endif %} -->
        </div>
      </div>
    </div>
  </div>
</div>

{% include pagination.html %}